body {
    background-color: var(--bodyBgDark);
    color: var(--textDark);
}

aside {
    background-color: var(--themeDark);
}

footer {
    background-color: var(--penalDark);
}

aside>section>div:nth-child(2),
aside>section>div:nth-child(3),
aside>section>div:nth-child(4),
footer>div>section:nth-child(2)>div:nth-child(1)>button,
footer>div>section:nth-child(3)>div:nth-child(2)>button,
#singerName {
    color: var(--iconDark);
}

aside>section>div:nth-child(2):hover,
aside>section>div:nth-child(3):hover,
aside>section>div:nth-child(4):hover,
footer>div>section:nth-child(2)>div:first-child>button:hover,
footer>div>section:nth-child(3)>div:nth-child(2)>button:hover {
    color: var(--textDark);
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: rgb(0, 0, 0);
    border-radius: 6px;
    border: 0px solid #000000;
}